.app-pact-list {
    padding: 20px;
}

.pact-list-header {
    padding-left: 20px;
    padding-right: 20px;
}

@media (min-width: 800px) {
    .pact-list {
        min-width: 750px;
    }

    .pact-heading {
        font-size: 2rem;
    }

    .pact {
        font-size: 1.9rem;
    }

    .level {
        font-size: 1.9rem;
    }

    .heat-small {
        font-size: 1.9rem;
    }

    .heat-large {
        font-size: 2.2rem;
    }
    .lock, .unlocked-lock, .minus-level, .plus-level {
        width: 30px;
        height: 30px;
    }
}


@media (max-width: 800px) {
    body {
        line-height: 1;
    }
    .pact-heading {
        font-size: 1.2rem;
    }

    .pact {
        font-size: 1.1rem;
    }

    .level {
        font-size: 1.1rem;
    }

    .heat-small {
        font-size: 1.4rem;
    }

    .heat-large {
        font-size: 1.5rem;
    }
    .counter-button-wrapper {
        padding: 0px;
        margin-left: 20px;
        width: 30px;
    }

    .lock, .unlocked-lock, .minus-level, .plus-level {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 478px) {
    body {
        line-height: 1;
    }
    .pact-heading {
        font-size: 1rem;
    }

    .pact {
        font-size: 0.9rem;
    }

    .level {
        font-size: 1rem;
    }

    .heat-small {
        font-size: 0.9rem;
    }

    .heat-large {
        font-size: 1rem;
    }

    .counter-button-wrapper {
        padding: 0;
        margin-left: 14px;
        width: 25px;
    }
    
    .lock, .unlocked-lock, .minus-level, .plus-level {
        width: 20px;
        height: 20px;
    }
}

.pact-list {
    background-color: #2B2A25;
    border-radius: 5px;
    padding: 20px;
    white-space: nowrap;
}

.pact-list-footer {
    padding-left: 20px;
    padding-right: 20px;
}

.pact-heading {
    color: white;
    font-family: Alegreya;
}

.pact {
    color: #FF503C;
    font-family: Alegreya;
}

.level {
    color: white;
    font-family: Alegreya;
    padding-right: 5px;

    text-align: right;
}

.heat-small {
    color: white;
    font-family: Alegreya;
}

.heat-large {
    color: white;
    font-family: Alegreya;
    margin-right: 5px;
}

.locked {
    opacity: 0.2;
}

.lock {
    background: url(../../assets/images/locked.png);
    background-size: 100%;
    background-color: #444;
    padding: 2px;
    border-radius: 2px;
}

.unlocked-lock{
    background: url(../../assets/images/unlocked.png);
    background-size: 100%;
    background-color: #999;
    padding: 2px;
    border-radius: 2px;
}

.target-input {
    width: 50px;
    height: 40px;
    border: none;
    border-radius: 2px;
}

.randomize-button {
    height: 40px;
    font-family: Alegreya;
    border-radius: 5px;
    
    margin-left: 5px;
}

.counter-button-wrapper {
    border: 0px;
}  

.minus-level, .plus-level {
    background-color: #665A54;
    color: white;
    font-family: Alegreya;
    text-align: center;
    font-size: 10pt;

    position: relative;
    left: 50%;
    transform: translateX(-50%);

    border-radius: 3px;
    padding: 1px;
}

button:disabled {
    background-color: #444;
    color: #333;
}


/* Enabled */
.custom-control-input:checked~.custom-control-label::before
{
  border-color: #000;
  background-color: #FF503C;
}

/* Disabled */
.custom-control-label:before{
    background-color:#888;
  }



@mixin switch($res: 'sm') {
    $index: 1rem;
    $mainVal: 1rem;
  
    @if $res == 'md' {
        $index: 2rem;
        $mainVal: 1.5rem;
    } @else if $res == 'lg' {
        $index: 2.5rem;
        $mainVal: 2rem;
    } @else if $res == 'xl' {
        $index: 4rem;
        $mainVal: 2.5rem;
    }

    .custom-control-label {
        padding-left: #{$index};
        // padding-bottom: #{$mainVal};
    }

    .custom-control-label::before {
        height: $mainVal;
        width: calc(#{$index} + 0.75rem);
        border-radius: $mainVal * 2;
    }

    .custom-control-label::after {
        width: calc(#{$mainVal} - 4px);
        height: calc(#{$mainVal} - 4px);
        border-radius: calc(#{$index} - (#{$mainVal} / 2));
    }

    .custom-control-input:checked ~ .custom-control-label::after {
        transform: translateX(calc(#{$mainVal} - 0.25rem));
    }
}

// YOU CAN PUT ALL RESOLUTION HERE
// sm - DEFAULT, md, lg, xl
.custom-switch.custom-switch-sm {
    @include switch();
}

.custom-switch.custom-switch-md {
    @include switch('md');
}

.custom-switch.custom-switch-lg {
    @include switch('lg');
}

.custom-switch.custom-switch-lg {
    @include switch('md');
}

.custom-switch.custom-switch-xl {
    @include switch('xl');
}