hr {
    border-top: 1px solid gray;
}

.page-footer {
    max-width: 200px;
    // background-color: #2B2A25;
    border-radius: 5px;
}

.twitter-link {
    font-family: Alegreya;
    font-size: 12pt;
}