/* Application-wide Styles */
@import "~bootstrap/dist/css/bootstrap.css";

@font-face {
    font-family: Casesar;
    src: url(assets/fonts/CaesarDressing-Regular.ttf) format('truetype');
}

@font-face {
    font-family: Alegreya;
    src: url(assets/fonts/AlegreyaSansSC-ExtraBold.ttf) format('truetype');
}

@media (min-width: 800px) {
  h1 {
      font-size: 4rem;
  }
}


@media (max-width: 800px) {
   h1 {
     font-size: 2rem;
   }
}

@media (max-width: 450px) {
  h1 {
    font-size: 2rem;
  }
}

.main-background {
    background-color: #4A3D34;
    padding: 20px;
}

h1 {
  color: #FF503C;
  font-family: Casesar;
}
h2 {
  color: white;
  font-family: Alegreya;
}

body {
  background-color: #4A3D34;
  margin: 2em;
}

input[type="text"], button {
  color: #333;
  font-family: Cambria, Georgia;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}